/* Au-delà du raisonnable */
@media (min-width: 2561px) {
    .ghost-height {
        height: 100rem;
    }
}

/* Desktop standard */
@media (min-width: 1367px) and (max-width: 1920px) {
    .ghost-height {
        height: 40rem;
    }
}

@media (min-width: 1367px) and (max-width: 1574px){
.wrapper-top-deco-3 {
    top:  90rem;
    left: 45rem;

}
.wrapper-top-deco-2 {
    top: 46rem;
    left: 55rem;
width:9rem;
}
}

/* Moyenne gamme - tablettes & petits laptops */
@media (min-width: 769px) and (max-width: 1366px) {
    .ghost-height {
        height: clamp(32rem, 5vw + 12rem, 64.25rem);
    }

    .wrapper-chevre {
        top: 20rem;
    }

    .wrapper-top-deco-2 {
        top: clamp(45rem, 1vw + 45rem, 53rem);
        left: 33rem;
        width: 9rem;
    }

    .wrapper-top-deco-3 {
        display: none;
    }

    .wrapper-edelweiss {
        left: min(55rem, max(40rem, 35vw));
    }
    
        .oiseaux-2 {
        width: 15rem;
top: 67rem;
left: 30rem;
    }
.wrapper-top-deco-4 {
    top:clamp(130rem, 2.5vw + 130rem, 135rem);
    width: 9rem;
}
}


@media (min-width: 769px) and (max-width: 1265px) {
      .wrapper-top-deco-2 {
display:none; 
    }
}

@media (min-width: 769px) and (max-width: 850px){
    .ghost-height {
        height: 29rem;
    }
}

@media (min-width: 769px) and (max-width: 930px){
    .wrapper-top-deco-1 {
    position: relative;
    left: clamp(2rem, 10vw, 20rem);
top:-5rem;
    width: clamp(10rem, 12vw, 15rem);
}
}

@media (min-width: 769px) and (max-width: 930px){
    .wrapper-top-deco-1 {
    position: relative;
    left: clamp(2rem, 10vw, 20rem);
top:-5rem;
    width: clamp(10rem, 12vw, 15rem);
}
}

/* téléphone Fernando */

@media screen and (max-width: 835px) {
    .menu-telephone {
        display: flex;
    }

    .desktop {
        display: none;
    }
}

@media (max-width: 768px) {

    .wrapper-top-deco-1, .wrapper-top-deco-2 {
        display: none;

    }

    .wrapper-top-deco-3 {
        display: none;
    }

    .oiseaux-2 {
        display: none;
    }

    .wrapper-top-deco-4 {
        display: none;
    }

    .wrapper-edelweiss {
        display: none;
    }
    .wrapper-top-deco-2 {
    display:none;
}

    /* Grid responsive */
.photos-flex{
    justify-content:center; 
}
.chevron{
    display:none;
}
    .boite-photos{
        flex-direction: column;
        max-height:80vh;
        overflow-y: scroll;
        overflow-x: hidden;
        gap: clamp(1rem, 2vw, 2.5rem);
        scrollbar-width: none; 
          -webkit-overflow-scrolling: touch;
    }
.boite-photos::-webkit-scrollbar {
  display: none;
}
    .grid-photos{
        display:grid;
         grid-template-columns: repeat(auto-fit, minmax(clamp(14rem, 25vw, 20rem), 1fr));
          gap: clamp(1rem, 2vw, 2.5rem);
          max-width:20rem;
  place-items: center;
    }
      .cell-1,
  .cell-3 {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: auto;
  }

  /* découvrez responsive */

  article{
    flex-flow: column nowrap; 
    align-items: center; 
  }

  .article-reverse{
    flex-flow: column-reverse nowrap;
  }

  /* map responsive */

  .infos-map{
    flex-direction: column; 
  }

  .map{
    height: 25rem; 
    max-width: 90vw;
  }

    /* footer wrap */
    .footer-flex {
        display: flex;
        flex-flow: row wrap;
    }

    .contact {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/* Petit écran */
@media (min-width: 481px) and (max-width: 768px) {
    .ghost-height {
        /* height: clamp(8rem, 5vw + 19rem, 44rem); */
        height: min(18rem, max(5vw + 19rem));
    }

    .wrapper-chevre {
        top: 10rem;
        left: 3rem;
    }

    .wrapper-edelweiss {
        left: min(40rem, max(25rem, 20vw));
    }

    .oiseaux-2 {
        width: 15rem;
        left: 15rem;
    }

}


/* Mobile - jusqu'à 480px */
@media (max-width: 480px) {
    .ghost-height {
        height: 8rem;
    }

    .wrapper-chevre {
        top: 10rem;
        left: 5rem;
    }

}

