/* 
Applique le modèle de boîte border-box à tous les éléments, 
y compris leurs pseudo-éléments ::before et ::after. 
Cela rend le dimensionnement plus prévisible (padding et border inclus dans la largeur/hauteur).
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 
Réinitialise les marges et les paddings à 0 pour tous les éléments,
ce qui élimine les styles par défaut incohérents entre navigateurs.
Hérite aussi la police des éléments parents pour éviter les incohérences de police.
*/
* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Poppins", sans-serif;
}

/* 
Indique que le site peut s’adapter automatiquement aux thèmes clair et sombre 
selon les préférences de l’utilisateur.
*/
html {
    color-scheme: dark light;
    scroll-behavior: smooth;
}

/* 
Assure que le corps de la page occupe au minimum toute la hauteur de la fenêtre.
Utile pour des mises en page pleine hauteur (par exemple, en flex ou grid).
*/
body {
    min-height: 100vh;
    background-color: var(--darkest-blue);
}

/* 
Assure que les médias s’affichent en bloc (pas inline par défaut) 
et ne dépassent jamais la largeur de leur conteneur. 
Cela évite les débordements indésirables.
*/
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* 
Utilise la propriété text-wrap: balance pour améliorer l'équilibre visuel 
des titres sur plusieurs lignes, évitant les sauts de ligne maladroits.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* 
Utilise text-wrap: pretty pour éviter les mots isolés en fin de paragraphe ou de ligne 
("orphans") et améliorer la lisibilité.
Fixe une largeur maximale de ligne (65 caractères environ), 
ce qui améliore la lisibilité des textes longs.
*/
p,
li,
figcaption {
    text-wrap: pretty;
    max-width: 65ch;
}


.padding-harmo {
    padding: 0.6rem max(1rem, 8vw);
}

.padding-top {
    padding-top: clamp(0.5rem, 2vw, 1rem);
}


a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

/* empêcher les rebonds en bord de scroll sur les scrolls verticaux en mobile */
html, body {
  overscroll-behavior: contain;
}

/* overrride des animations */

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 1ms !important;
    transition-delay: -1ms !important;
  }
}



/* VARIABLES */

:root {
    --black: rgb(0, 0, 0);
    --shadow-dark: rgba(0, 0, 0, 0.7);
    --darkest-blue: rgb(0, 53, 89);
    --dark-blue: rgb(0, 75, 124);
    --blue: rgb(3, 117, 155);
    --light-blue: rgb(0, 191, 255);
    --lightest-blue: rgb(192, 223, 231);
    --white: rgb(255, 255, 255);

}


/* TYPOS */

h1 {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: clamp(2.5rem, 6vw, 5.625rem);
    box-sizing: border-box;
    text-shadow: 2px 2px 0.5rem var(--shadow-dark);
    margin-top: 15%;
    align-items: center;
}

.ss-t-hero {
    font-family: "Poppins", sans-serif;
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.75rem, 4vw, 3.125rem);
    margin-top: -0.6rem;
    text-shadow: 2px 2px 0.5rem var(--shadow-dark);
}


h2 {
    font-size: clamp(1.25rem, 3vw, 2rem);
    font-weight: 800;
    background-color: var(--white);
    max-width: 60ch;
    margin: 0 auto;
    padding: 1.5rem;
    text-align: center;
    border-radius: 0.625rem;
}

h3 {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    padding: clamp(0.75rem, 2.5vw, 1.5rem);
    font-weight: 600;
}

p {
    font-size: clamp(0.875rem, 1.75vw, 1rem);
    font-weight: 300;
    line-height: 1.5em;
}

/* typos footer */

.brands {
    font-size: clamp(0.875rem, 2vw, 1rem);
    font-weight: 700;
}

.slogan {
    font-size: clamp(0.75rem, 1.2vw, 0.875rem);
    font-weight: 300;
}

.footer-subtitles {
    text-align: center;
    font-size: clamp(0.875rem, 1.8vw, 1rem);
    font-weight: 600;
    text-transform: uppercase;
}

.textes {
    line-height: 1.5rem;
}

.contact-info {
    color: var(--blue);
    text-align: center;
    max-width: 30ch;
}

.mentions-legales p {
    font-size: clamp(0.625rem, 0.4rem + 0.5vw, 0.75rem);
    padding: clamp(0.5rem, 2vw, 1rem);
}

.contact a {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
}






/* HERO */

.hero {
    background-image: url(../img/section_hero/hero_hotel.png);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 100svh;
    position: relative;
}

.hero a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: var(--blue);
}

.logo img {
    max-width: 5em;
    margin-top: 0.6rem;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-nav {
    background-image: linear-gradient(to bottom, #c5c5c5, #c4c4c48f, transparent);

}

/* FERNANDO MENU TELEPHONE START */


.menu-telephone {
    background-color: transparent;
    backdrop-filter: blur(20px);
    max-width: 80px;
    min-height: 100vh;
    /* padding: 20px; */
    position: fixed;
    padding: 20px 0 0px 0.5%;
    box-shadow: 3px 0 0 var(--light-blue);
    margin-top: -10px;
    top: 0;
    left: -30px;
    overflow: hidden;
    transition: 0.2s;
}

.menu-telephone:hover {
    max-width: 300px;
}

.item-menu a {
    color: rgb(205, 205, 205);
    text-decoration: none;
    display: flex;
    margin-bottom: 5px;
    gap: 20px;
    font-size: 1.5rem;
    /* line-height: 40px; */
}

.menu-telephone li {
    list-style: none;
    transform: 0.2s;
    margin-left: 0.4rem;
}

.menu-telephone li:hover {
    max-width: 135%;
    background-color: var(--light-blue);
}

.menu-dst {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    min-height: 20%;
    line-height: 40px;

    margin-left: 120px;
}

.incon i {
    margin-left: 10px;
}

.item-menu a:hover {
    color: var(--white);
}

.item-menu a .txt-link:hover {
    color: var(--white);
}


.menu-telephone {
    display: none;
    z-index: 145;
}


.menu-telephone ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 5rem;
}

.menu-telephone li {
    padding-left: 10px;
}


/* FERNANDO MENU TELEPHONE END */

.descktop,
ul {
    color: var(--white);
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 1.875rem;
    padding: 0.6rem 1.5rem;
    font-weight: bold;
    color: var(--blue);
    transition: 0.5s;
}

.descktop,
ul li {
    padding: 0.6rem;
}

.descktop,
ul li:hover {
    background-color: var(--light-blue);
    color: var(--white);
    border-radius: 0.6rem;
}

/* SECTION HERO */

.titres-hero {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
}


/* fondu bleu foncé */
.fondu_bf {
    width: 100%;
    height: clamp(8rem, 12vw, 15rem);
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent, var(--darkest-blue));
}

/* SECTION GRID CARROUSSEL */


.hotel_ph_d {
    /* hotel photo display */
    background-color: (--darkest-blue);

    position: relative;
}

/* BARRE DE RECHERCHE */
.container_dispos_boutons {
    padding-block: clamp(0.75rem, 2.5vw, 1.5rem);
    /* padding-block: padding top et bottom en une commande */
    border-radius: 2px;
    background-color: var(--dark-blue);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hotel-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
     padding-inline: max(1.25rem, min(3rem, 3vw));
}
.hotel-form > * {
    flex: 1 1 6rem;  
    box-sizing:border-box; 
    min-width:10rem; 
    max-width: 15rem; 

}

/* Masque visuellement le contenu mais le rend accessible aux lecteurs d’écran.
   Technique standard pour les textes cachés comme les descriptions ou labels. */
.sr_only {
    position: absolute;
    /* L'élément est retiré du flux normal pour ne pas perturber la mise en page */
    width: 1px;
    /* Taille minuscule pour qu’il prenne un minimum de place */
    height: 1px;
    /* Idem que width, garde l'élément présent mais invisible */
    padding: 0;
    /* Pas d’espace intérieur */
    margin: -1px;
    /* L’élément est "poussé" en dehors de la zone visible */
    overflow: hidden;
    /* Rien de ce qui dépasse ne sera affiché */
    clip: rect(0 0 0 0);
    /* Découpe l’élément pour qu’il soit complètement masqué */
    white-space: nowrap;
    /* Empêche les retours à la ligne, utile pour éviter que le texte soit visible en plusieurs lignes par erreur */
    border: 0;
    /* Supprime toute bordure éventuelle */
}

.icon-ppl {
    /* icone décorative */
    background-image: url(../img/images_vectorielles/hotel_recherche_chambres/personnes_svg.svg );
    background-size: 1.3rem auto;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 0.3rem;
}

.icon-loupe {
    box-sizing: border-box;
    min-height: 1.2rem;
    max-height:2rem;
}

form .btn-harmo {
cursor: pointer;
}

.harmo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 7.5rem;
    min-height: 3rem;
    padding: 0 0.7rem;
    box-sizing: border-box;
}

.champ-style {
    background-color: (--lightest-blue);
    border: none;
    border-radius: 3px;
    padding: 0.6rem;
}

/* FLEX GRID PHOTOS */

.wrapper-ph-gal {
    position: relative;
    padding-top: 2rem;
}

.photos-flex {
    display: flex;
    flex-flow: row nowrap;
padding-inline: clamp(1rem, 5vw, 3rem);
}


.boite-photos {
    display: flex;
    flex-flow: row nowrap;
    gap: 4rem;
    overflow-x: scroll;
}

.chevron {
    position: absolute;
    top: 50%;
    /* positionne le point le plus haut de la flèche à 50% de son conteneur */
    transform: translateY(-50%);
    /* centrage parfait de la flèche  */
    z-index: 2;
    width: clamp(2.5rem, 4vw, 4rem);
    height: clamp(2.5rem, 4vw, 4rem);
    cursor: pointer;
    padding: 0.5rem;
}

.chevron svg {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.chevron:first-child {
    color: var(--white);
    left: -2rem;
}

.chevron:last-child {
    color: var(--white);
    right: -2rem;
}

.grid-photos {
    display: grid;
    grid-template-columns: repeat(2, minmax(18.75rem, 1fr));
    gap: 1.5rem;
}

.img-cell img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.cell-1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.cell-3 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.boite-photos:hover .img-cell {
    filter: brightness(0.5);
}

.boite-photos:has(.img-cell:hover) .img-cell:hover {
    filter: brightness(1);
}

.illustration-oiseaux {
    position: relative;
    left: 16vw;
    right: 16vw;
    max-width: clamp(16rem, 50vw, 80vw);
    min-height: clamp(20rem, 60vh, 42rem);
    z-index: -1;
    margin-bottom: min(8vw, 10rem);
}

.illustration-oiseaux svg {
    position: absolute;
    fill: var(--white);
    max-width: clamp(20rem, 60vw, 80vw);
    height: auto;
}


/* UNE DESTINATION DE REVE */

.presentation {
    background-image: linear-gradient(to bottom, var(--darkest-blue) 0%, rgb(207, 208, 212) 19%, var(--lightest-blue) 100%);
}

.ghost-height {
    height: clamp(64.25rem, 3vw + 12rem, 100rem);
}

.wrapper-montagnes {
    position: relative;
    max-width: 100vw;
    z-index: 2;
}

.wrapper-montagnes svg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.montagne-1 {
    fill: var(--darkest-blue);
}

.wrapper-montagnes .montagne-2 {
    fill: var(--dark-blue);
}

.montagne-3 {
    fill: var(--blue);
}


.wrapper-edelweiss {
    position: relative;
    left: 55rem;
    top: 10rem;
    width: clamp(4rem, 11vw, 12rem);
    height: clamp(4rem, 6vw, 7.5rem);
    z-index: 2;
}

.wrapper-edelweiss .edelweiss {
    position: absolute;
    color: var(--white);
    width: 100%;
}


.wrapper-chevre {
    position: relative;
    max-width: clamp(5rem, 10vw, 12rem);
    top: 40rem;
    left: 0.1rem;
    z-index: 1;
}

.wrapper-montagnes .chevre {
    color: var(--white);
    width: 100%;
    height: auto;
    display: block;
}


.padding-pres {
    padding-bottom: 13rem;
}

.ilustration-presentation {
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    display: block;
}

/* section description flex (photos => responsive scrset GIMP a faire) */

.presentation-flex {
    padding-top: 13rem;
    background-image: linear-gradient(to bottom, var(--blue) -20%, var(--blue) 20%, var(--light-blue) 100%);
    position: relative;
}

.desc-texte {
    background-color: var(--lightest-blue);
    box-shadow: 6px 6px 0.9rem white;
    align-self: center;
    padding: clamp(1rem, 4vw, 3rem);
}



article {
    display: flex;
    flex-wrap: nowrap; 
    gap: clamp(2rem, 5vw, 7rem);
    margin: clamp(6rem, 12vw, 16rem) clamp(1rem, 3vw, 3rem);
}

.desc-photo {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    width: clamp(30rem, 60%, 60rem);
    height: 35rem;
    overflow-y: auto;
}

.desc-photo img {
    width: clamp(30rem, 50vw, 45rem);
    height: auto;
}

.svg-deco-pres {
    position: absolute;
    width: clamp(8rem, 10vw, 14rem);
    color: var(--white);
}

.wrapper-top-deco-1 {
    position: relative;
    left: clamp(2rem, 10vw, 20rem);
    top: 0rem;
    z-index: 5;
    width: clamp(10rem, 15vw, 20rem);
}

.top-deco-1 {
    width: 100%;
}

.wrapper-top-deco-2 {
    position: relative;
    top: 52rem;
    left: 55rem;
    width: 10rem;
    z-index: 5;
}

.top-deco-2 {
    width: 100%;
}

.wrapper-top-deco-3 {
    position: relative;
    top: 97rem;
    left: 55rem;
    width: 10rem;
}

.top-deco-3 {
    width: 100%;
}

.wrapper-top-deco-4 {
    position: relative;
    width: 10rem;
    top:  145rem;
    left: 25rem;
}

.top-deco-4 {
    width: 100%;
}

/* INFOS PRATIQUES */

.infos-prat {
    position: relative;
    min-height: 40rem;
    padding-bottom: clamp(6rem, 15vw, 15rem);
    /* background-color: var(--lightest-blue); */
    background-image: linear-gradient(to bottom, var(--light-blue) 0%, var(--lightest-blue) 50%, var(--white) 70%, var(--white)100%);
}



.infos-map {
    display: flex;
    flex-flow: row nowrap;
    gap: clamp(1.5rem, 5vw, 8rem);
    position: relative;
    z-index: 2;
    padding-top: clamp(3rem, 6vw, 10rem);
}

.infos-txt {
    flex-basis: 30%;
}

.infos-txt>ul {
    display: flex;
    flex-direction: column;
}

.map {
    width: clamp(18rem, 40vw, 32rem);
    min-height: 12rem;
    background-color: rgb(35, 52, 93);
    flex-grow: 2;
}

.illustrations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

}


.montagne-4 {
    fill: rgb(255, 255, 255);
    position: absolute;
    top: 8rem;
    height: 50rem;
    width: 100vw;
    z-index: 1;
}

.oiseaux-2 {
    position: absolute;
    top: 55rem;
    width: 20rem;
    left: 50rem;
    z-index: 6;
    fill: var(--dark-blue);
    filter: drop-shadow(0 0.1rem 0.3rem rgba(0, 53, 89, 0.405));
}

/* footer */

footer {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--white);
    color: var(--dark-blue);
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.branding-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--blue);
    padding: 1rem;
}

.logos-footer {
    max-width: 5rem;
    margin-top: 0.6rem;
}

footer ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    gap: 0.125rem;
}

footer li {
    transition: none;
    padding: 0;
    font-weight: 200;
    color: var(--blue);
}

footer li:hover {
    background-color: transparent;
    color: inherit;
    border-radius: 0;
    cursor: pointer;
}

.contact {
    padding-bottom: 1.125rem;
}

.mentions-legales {
    display: flex;
    justify-content: space-between;
}

/* BOUTON STICKY */

.logo-sticky {
    position: fixed;
    bottom: clamp(2rem, 5vh, 4rem);
    right: 0rem;
    max-width: 6rem;
    filter: drop-shadow(0.3rem 0.3rem 0.3rem var(--darkest-blue));
    z-index: 999;
    background: none;
    padding: 0;
    /* crucial */
    border: none;
}

