.wrapper{
position: relative; 
}

.wrapper svg{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
}

.boite{
    width:15rem; 
    height: 15rem;
    border: 2px solid black;  
    z-index: 10;  
}